* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.header, .jumbotron, .our-facilitation, .contact, .our-profile {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

/* navbar */
.header {
    margin-top: 20px;
}

.header__nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.nav__logo img {
    width: 50px;
}

.nav__list {
    display: flex;
    gap: 10px;
}

.nav__list li a {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}

.nav__list li a:hover {
    background-color: #f1f1f1;
}

/* jumbotron */

.jumbotron {
    width: 100%;
}

.jumbotron__header {
    margin: 2rem 0;
}

.jumbotron__content img {
    width: 100%;
    border-radius: 1rem;
}


/* our facilitation*/

.our-facilitation {
}

.our-facilitation__title {
    margin: 2rem 0;
}

.our-facilitation__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.our-facilitation__container-item {
    width: 150px;
}

.our-facilitation__container-item img {
    width: 100px;
    height: 100px;
    border-radius: 9999px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.our-facilitation__container-item h4 {
    margin-top: 1rem;
    text-align: center;
}

/* contact */

.contact {
    margin-top: 3rem;
}

.contact__title {
    margin: 2rem 0;
}

.contact__container {
    display: flex;
    gap: 4rem;
}

.contact__container-form, .contact__container-output {
    width: 50%;
}

.contact__container-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__container-form__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact__container-form__item label {
    font-weight: 600;
}

.contact__container-form__item input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact__container-form__item textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact__container-form__action button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
}


/* footer */
footer {
    margin-top: 1rem;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: right;
}



/* responsive */

@media screen and (max-width: 768px) {
    .header__nav {
        flex-direction: column;
        gap: 10px;
    }

    .nav__list {
        flex-direction: column;
        gap: 10px;
    }

    .nav__list li {
        text-align: center;
    }

    .nav__list li a {
        padding: 10px 0;
    }

    .jumbotron__content img {
        width: 100%;
        border-radius: 1rem;
    }

    .our-facilitation__container {
        justify-content: center;
    }

    .our-facilitation__container-item {
        width: 100px;
    }

    .our-facilitation__container-item img {
        width: 80px;
        height: 80px;
    }

    .contact__container {
        flex-direction: column;
        gap: 2rem;
    }

    .contact__container-form, .contact__container-output {
        width: 100%;
    }
}

.our-profile {
    margin-top: 4rem;
}

.our-profile img {
    display: block;
    margin: 0 auto;
}

.our-profile__description:first-of-type {
    margin: 2rem 0;
    text-align: center;
}

.our-profile__description:last-of-type {
    margin: 2rem 0;
}

.our-profile__description:last-of-type p {
    margin: 1rem 0;
}

.our-profile__description ol {
    list-style-type: decimal !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-profile__description ol li {
    margin: 0.5rem 0;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    .our-profile__description ol {
        grid-template-columns: 1fr;
    }
}
